.small {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.medium {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.large {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}